%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps"]},
%%       {excl_lib, otp_root},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "openhbx_scheduler", "1",
        [
         kernel,
         stdlib,
         sasl,
         {openhbx_scheduler, transient}
        ]},
     {rel, "start_clean", "",
      [
       kernel,
       stdlib
      ]},
       {boot_rel, "openhbx_scheduler"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, openhbx_scheduler, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, tools, [{incl_cond, exclude}]},
       {app, observer, [{incl_cond, exclude}]},
       {app, common_test, [{incl_cond, exclude}]},
       {app, test_server, [{incl_cond, exclude}]},
       {app, syntax_tools, [{incl_cond, exclude}]}
      ]}.

{target_dir, "openhbx_scheduler"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "openhbx_scheduler/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/openhbx_scheduler", "bin/openhbx_scheduler"},
           {copy, "files/openhbx_scheduler.cmd", "bin/openhbx_scheduler.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
